.InfoPanel {
    height: 90%;
    width: 300px;
    top: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin: auto;
    color: #ffffff;
    border-radius: 5%;
    
}

.InfoPanelDetail {
    font-size: 15px;
    color: #6e6e6e94;
    display: block;
    margin: 10px;
}

.Star {
    font-size: 40px;
    text-align: right;
    top: 0px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}


.Star:hover,
.Star:active,
.Star.active {
    color: #e09900;

    
}