.flexcontainer {
    display: flex;
    padding: 40px;
    text-align: left;
  }
  @media (max-width: 320px) {
    .flexcontainer {
      display: block;
    }
}

h2 {
    color: darkred
}

.character-img {
    padding: 25px;
}