.Header {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Header nav {
    height: 100%;
}

.HeaderTitle {
    color: #4e4e4e;
    font-size: 22px;
    margin: 0px;
}


@media (max-width: 668px) {
    .HeaderTitle {
        font-size: 15px;
    }


}