.film-detail__header {
  font-size: 1.3em;
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-bottom: 50px;
}

.film-detail__crawl {
  width: 50%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: justify;
}
