.App {
  text-align: center;
  background-color: black;
  align-items: center;
  padding: 40px;
}


.AppCharacter {
  background-color: black;
}
.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: grey;
  text-decoration: none;
}


/* mouse over link */
a:hover {
  color: blueviolet;
  text-decoration: none;
}

/* selected link */
a:active {
  color: purple;
  text-decoration: none;
}

ul {
  list-style-type: none;
}