.CharacterPage {
  text-align: center;
  color: white;
  text-decoration: none;
}


.CharacterName {
  font-size: 1em;
  font-color: red;
}

.h1 {
  font-size: .75em;
  font-color: blue;
}

.Image {
  max-width: 100%;
  max-height: 340px;
  object-fit: contain;
  overflow: hidden; 
}

.return {
  border-top: 1px solid #336787;
  background: #043029;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebdde4), to(#043029));
  background: -webkit-linear-gradient(top, #ebdde4, #043029);
  background: -moz-linear-gradient(top, #ebdde4, #043029);
  background: -ms-linear-gradient(top, #ebdde4, #043029);
  background: -o-linear-gradient(top, #ebdde4, #043029);
  padding: 5.5px 11px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }
.return:hover {
  border-top-color: #304959;
  background: #304959;
  color: #cccccc;
  }
.return:active {
  border-top-color: #6ca6cc;
  background: #6ca6cc;
  }

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: grey;
    text-decoration: none;
  }
  
  
  /* mouse over link */
  a:hover {
    color: blueviolet;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: purple;
    text-decoration: none;
  }