.App {
  text-align: center;
  align-content: center;
  font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header-line {
  height: 25px;
  border-top: 1.5px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top-color: slategray;
  border-style: solid;
  width: 1120px;
  margin: auto;
}
